<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>interest</th>
      <th>popularity</th>
      <th>genres</th>
      <th>link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1mKtlPrXjWK6oIdk9cSOjs</th>
      <td>1mKtlPrXjWK6oIdk9cSOjs</td>
      <td>Asiahn</td>
      <td>High</td>
      <td>37</td>
      <td>[alternative r&amp;b]</td>
      <td>spotify:artist:1mKtlPrXjWK6oIdk9cSOjs</td>
    </tr>
    <tr>
      <th>6g8AmloI8egfrr3dm3SnUL</th>
      <td>6g8AmloI8egfrr3dm3SnUL</td>
      <td>TWENTY88</td>
      <td>High</td>
      <td>42</td>
      <td>[]</td>
      <td>spotify:artist:6g8AmloI8egfrr3dm3SnUL</td>
    </tr>
    <tr>
      <th>24S5IyzXICyGscL4vYshdq</th>
      <td>24S5IyzXICyGscL4vYshdq</td>
      <td>Alex Vaughn</td>
      <td>High</td>
      <td>42</td>
      <td>[indie r&amp;b]</td>
      <td>spotify:artist:24S5IyzXICyGscL4vYshdq</td>
    </tr>
    <tr>
      <th>2FcXBEz4zZpJGNO8CSrchU</th>
      <td>2FcXBEz4zZpJGNO8CSrchU</td>
      <td>Jayla Darden</td>
      <td>High</td>
      <td>47</td>
      <td>[alternative r&amp;b]</td>
      <td>spotify:artist:2FcXBEz4zZpJGNO8CSrchU</td>
    </tr>
    <tr>
      <th>3MNLhvqJkWsO6tcjY9ps62</th>
      <td>3MNLhvqJkWsO6tcjY9ps62</td>
      <td>Maude Latour</td>
      <td>High</td>
      <td>47</td>
      <td>[alt z, indie pop, nyc pop]</td>
      <td>spotify:artist:3MNLhvqJkWsO6tcjY9ps62</td>
    </tr>
    <tr>
      <th>4k3yrCOPB5wp2ne8R9MQoM</th>
      <td>4k3yrCOPB5wp2ne8R9MQoM</td>
      <td>Janine</td>
      <td>High</td>
      <td>48</td>
      <td>[nz pop, pop r&amp;b]</td>
      <td>spotify:artist:4k3yrCOPB5wp2ne8R9MQoM</td>
    </tr>
    <tr>
      <th>0wnYgCeP013HkKoOyC5V32</th>
      <td>0wnYgCeP013HkKoOyC5V32</td>
      <td>Allie X</td>
      <td>High</td>
      <td>50</td>
      <td>[alt z, canadian electropop, canadian pop, dark pop, electropop, metropopolis]</td>
      <td>spotify:artist:0wnYgCeP013HkKoOyC5V32</td>
    </tr>
    <tr>
      <th>58hqTaCiqGrMsNmmm3qL7w</th>
      <td>58hqTaCiqGrMsNmmm3qL7w</td>
      <td>Bree Runway</td>
      <td>High</td>
      <td>51</td>
      <td>[alternative r&amp;b]</td>
      <td>spotify:artist:58hqTaCiqGrMsNmmm3qL7w</td>
    </tr>
    <tr>
      <th>2AmfMGi3WZMxqFDHissIAe</th>
      <td>2AmfMGi3WZMxqFDHissIAe</td>
      <td>The Aces</td>
      <td>High</td>
      <td>51</td>
      <td>[alt z, indie pop, uk pop]</td>
      <td>spotify:artist:2AmfMGi3WZMxqFDHissIAe</td>
    </tr>
    <tr>
      <th>1dUrqVHcv2FCXxlIqzIbiG</th>
      <td>1dUrqVHcv2FCXxlIqzIbiG</td>
      <td>NERIAH</td>
      <td>High</td>
      <td>52</td>
      <td>[alt z, singer-songwriter pop]</td>
      <td>spotify:artist:1dUrqVHcv2FCXxlIqzIbiG</td>
    </tr>
    <tr>
      <th>1KGcdM5KxCVydaHe29QAj9</th>
      <td>1KGcdM5KxCVydaHe29QAj9</td>
      <td>Gatlin</td>
      <td>High</td>
      <td>53</td>
      <td>[modern alternative pop]</td>
      <td>spotify:artist:1KGcdM5KxCVydaHe29QAj9</td>
    </tr>
    <tr>
      <th>4QM5QCHicznALtX885CnZC</th>
      <td>4QM5QCHicznALtX885CnZC</td>
      <td>Slayyyter</td>
      <td>High</td>
      <td>54</td>
      <td>[escape room, hyperpop, pink noise, proto-hyperpop]</td>
      <td>spotify:artist:4QM5QCHicznALtX885CnZC</td>
    </tr>
    <tr>
      <th>6tUJpYN2aYiXbzAcg0pIOo</th>
      <td>6tUJpYN2aYiXbzAcg0pIOo</td>
      <td>Sinéad Harnett</td>
      <td>High</td>
      <td>55</td>
      <td>[alternative r&amp;b, gauze pop, uk contemporary r&amp;b]</td>
      <td>spotify:artist:6tUJpYN2aYiXbzAcg0pIOo</td>
    </tr>
    <tr>
      <th>7aFTOGFDEqDtJUCziLVsVC</th>
      <td>7aFTOGFDEqDtJUCziLVsVC</td>
      <td>Nao</td>
      <td>High</td>
      <td>55</td>
      <td>[alternative r&amp;b, uk contemporary r&amp;b]</td>
      <td>spotify:artist:7aFTOGFDEqDtJUCziLVsVC</td>
    </tr>
    <tr>
      <th>4o4tLTIJ3eWMFerz73atcT</th>
      <td>4o4tLTIJ3eWMFerz73atcT</td>
      <td>Qveen Herby</td>
      <td>High</td>
      <td>55</td>
      <td>[trap queen]</td>
      <td>spotify:artist:4o4tLTIJ3eWMFerz73atcT</td>
    </tr>
    <tr>
      <th>1BhWF9W2PngtPSyobKg0rP</th>
      <td>1BhWF9W2PngtPSyobKg0rP</td>
      <td>Pia Mia</td>
      <td>High</td>
      <td>55</td>
      <td>[dance pop, pop, post-teen pop]</td>
      <td>spotify:artist:1BhWF9W2PngtPSyobKg0rP</td>
    </tr>
    <tr>
      <th>7xAcVHPiirnUqfdqo0USb1</th>
      <td>7xAcVHPiirnUqfdqo0USb1</td>
      <td>Fantasia</td>
      <td>High</td>
      <td>55</td>
      <td>[contemporary r&amp;b, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:7xAcVHPiirnUqfdqo0USb1</td>
    </tr>
    <tr>
      <th>5bmqhxWk9SEFDGIzWpSjVJ</th>
      <td>5bmqhxWk9SEFDGIzWpSjVJ</td>
      <td>THE DRIVER ERA</td>
      <td>High</td>
      <td>55</td>
      <td>[modern alternative rock]</td>
      <td>spotify:artist:5bmqhxWk9SEFDGIzWpSjVJ</td>
    </tr>
    <tr>
      <th>0AsThoR4KZSVktALiNcQwW</th>
      <td>0AsThoR4KZSVktALiNcQwW</td>
      <td>Chloe x Halle</td>
      <td>High</td>
      <td>56</td>
      <td>[r&amp;b]</td>
      <td>spotify:artist:0AsThoR4KZSVktALiNcQwW</td>
    </tr>
    <tr>
      <th>0XIKGBo9PnK1ApI5tZA60d</th>
      <td>0XIKGBo9PnK1ApI5tZA60d</td>
      <td>DaniLeigh</td>
      <td>High</td>
      <td>56</td>
      <td>[r&amp;b, rap latina]</td>
      <td>spotify:artist:0XIKGBo9PnK1ApI5tZA60d</td>
    </tr>
    <tr>
      <th>7LImGq5KnzQobZciDJpeJb</th>
      <td>7LImGq5KnzQobZciDJpeJb</td>
      <td>Charlotte Lawrence</td>
      <td>High</td>
      <td>56</td>
      <td>[alt z]</td>
      <td>spotify:artist:7LImGq5KnzQobZciDJpeJb</td>
    </tr>
    <tr>
      <th>6dn6x1XOng3LOAnfTjUn77</th>
      <td>6dn6x1XOng3LOAnfTjUn77</td>
      <td>AJ Mitchell</td>
      <td>High</td>
      <td>56</td>
      <td>[alt z, pop]</td>
      <td>spotify:artist:6dn6x1XOng3LOAnfTjUn77</td>
    </tr>
    <tr>
      <th>1KYszkVzlhV3rAqmAcYIgd</th>
      <td>1KYszkVzlhV3rAqmAcYIgd</td>
      <td>Victorious Cast</td>
      <td>High</td>
      <td>57</td>
      <td>[post-teen pop]</td>
      <td>spotify:artist:1KYszkVzlhV3rAqmAcYIgd</td>
    </tr>
    <tr>
      <th>2FovgCfOwN9iqbkCBlKFdT</th>
      <td>2FovgCfOwN9iqbkCBlKFdT</td>
      <td>Ellise</td>
      <td>High</td>
      <td>57</td>
      <td>[alt z, electropop]</td>
      <td>spotify:artist:2FovgCfOwN9iqbkCBlKFdT</td>
    </tr>
    <tr>
      <th>0nnYdIpahs41QiZ9MWp5Wx</th>
      <td>0nnYdIpahs41QiZ9MWp5Wx</td>
      <td>Holly Humberstone</td>
      <td>High</td>
      <td>58</td>
      <td>[alt z, indie pop, modern alternative pop, uk pop]</td>
      <td>spotify:artist:0nnYdIpahs41QiZ9MWp5Wx</td>
    </tr>
    <tr>
      <th>6sFHvCyqklnJpXC9Nh1aag</th>
      <td>6sFHvCyqklnJpXC9Nh1aag</td>
      <td>Alexander 23</td>
      <td>High</td>
      <td>58</td>
      <td>[alt z, singer-songwriter pop]</td>
      <td>spotify:artist:6sFHvCyqklnJpXC9Nh1aag</td>
    </tr>
    <tr>
      <th>4ULO7IGI3M2bo0Ap7B9h8a</th>
      <td>4ULO7IGI3M2bo0Ap7B9h8a</td>
      <td>Teyana Taylor</td>
      <td>High</td>
      <td>59</td>
      <td>[alternative r&amp;b, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:4ULO7IGI3M2bo0Ap7B9h8a</td>
    </tr>
    <tr>
      <th>7nU4hB040gTmHm45YYMvqc</th>
      <td>7nU4hB040gTmHm45YYMvqc</td>
      <td>Hannah Montana</td>
      <td>High</td>
      <td>61</td>
      <td>[pop, post-teen pop]</td>
      <td>spotify:artist:7nU4hB040gTmHm45YYMvqc</td>
    </tr>
    <tr>
      <th>4VdV2qRAYBLINR6uU72V1J</th>
      <td>4VdV2qRAYBLINR6uU72V1J</td>
      <td>Joshua Bassett</td>
      <td>High</td>
      <td>61</td>
      <td>[singer-songwriter pop]</td>
      <td>spotify:artist:4VdV2qRAYBLINR6uU72V1J</td>
    </tr>
    <tr>
      <th>2KEqzdPS7M5YwGmiuPTdr5</th>
      <td>2KEqzdPS7M5YwGmiuPTdr5</td>
      <td>Rina Sawayama</td>
      <td>High</td>
      <td>61</td>
      <td>[art pop, electropop, indie pop]</td>
      <td>spotify:artist:2KEqzdPS7M5YwGmiuPTdr5</td>
    </tr>
    <tr>
      <th>5pUo3fmmHT8bhCyHE52hA6</th>
      <td>5pUo3fmmHT8bhCyHE52hA6</td>
      <td>Liam Payne</td>
      <td>High</td>
      <td>61</td>
      <td>[pop]</td>
      <td>spotify:artist:5pUo3fmmHT8bhCyHE52hA6</td>
    </tr>
    <tr>
      <th>6hfwwpXqZPRC9CsKI7qtv1</th>
      <td>6hfwwpXqZPRC9CsKI7qtv1</td>
      <td>Alina Baraz</td>
      <td>High</td>
      <td>63</td>
      <td>[etherpop]</td>
      <td>spotify:artist:6hfwwpXqZPRC9CsKI7qtv1</td>
    </tr>
    <tr>
      <th>5qa31A9HySw3T7MKWI9bGg</th>
      <td>5qa31A9HySw3T7MKWI9bGg</td>
      <td>FLETCHER</td>
      <td>High</td>
      <td>63</td>
      <td>[alt z, pop]</td>
      <td>spotify:artist:5qa31A9HySw3T7MKWI9bGg</td>
    </tr>
    <tr>
      <th>05oH07COxkXKIMt6mIPRee</th>
      <td>05oH07COxkXKIMt6mIPRee</td>
      <td>Brandy</td>
      <td>High</td>
      <td>63</td>
      <td>[contemporary r&amp;b, dance pop, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:05oH07COxkXKIMt6mIPRee</td>
    </tr>
    <tr>
      <th>2RVvqRBon9NgaGXKfywDSs</th>
      <td>2RVvqRBon9NgaGXKfywDSs</td>
      <td>Maisie Peters</td>
      <td>High</td>
      <td>64</td>
      <td>[alt z, uk pop]</td>
      <td>spotify:artist:2RVvqRBon9NgaGXKfywDSs</td>
    </tr>
    <tr>
      <th>4Rxn7Im3LGfyRkY2FlHhWi</th>
      <td>4Rxn7Im3LGfyRkY2FlHhWi</td>
      <td>Nick Jonas</td>
      <td>High</td>
      <td>64</td>
      <td>[dance pop, pop]</td>
      <td>spotify:artist:4Rxn7Im3LGfyRkY2FlHhWi</td>
    </tr>
    <tr>
      <th>0NIIxcxNHmOoyBx03SfTCD</th>
      <td>0NIIxcxNHmOoyBx03SfTCD</td>
      <td>Tinashe</td>
      <td>High</td>
      <td>65</td>
      <td>[alternative r&amp;b, dance pop, metropopolis, pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:0NIIxcxNHmOoyBx03SfTCD</td>
    </tr>
    <tr>
      <th>7gAppWoH7pcYmphCVTXkzs</th>
      <td>7gAppWoH7pcYmphCVTXkzs</td>
      <td>The Vamps</td>
      <td>High</td>
      <td>65</td>
      <td>[boy band, pop]</td>
      <td>spotify:artist:7gAppWoH7pcYmphCVTXkzs</td>
    </tr>
    <tr>
      <th>5JMLG56F1X5mFmWNmS0iAp</th>
      <td>5JMLG56F1X5mFmWNmS0iAp</td>
      <td>Chelsea Cutler</td>
      <td>High</td>
      <td>65</td>
      <td>[alt z]</td>
      <td>spotify:artist:5JMLG56F1X5mFmWNmS0iAp</td>
    </tr>
    <tr>
      <th>1MIVXf74SZHmTIp4V4paH4</th>
      <td>1MIVXf74SZHmTIp4V4paH4</td>
      <td>Mabel</td>
      <td>High</td>
      <td>65</td>
      <td>[pop, uk pop]</td>
      <td>spotify:artist:1MIVXf74SZHmTIp4V4paH4</td>
    </tr>
    <tr>
      <th>2cWZOOzeOm4WmBJRnD5R7I</th>
      <td>2cWZOOzeOm4WmBJRnD5R7I</td>
      <td>Normani</td>
      <td>High</td>
      <td>66</td>
      <td>[pop, r&amp;b]</td>
      <td>spotify:artist:2cWZOOzeOm4WmBJRnD5R7I</td>
    </tr>
    <tr>
      <th>7pwufEBGfggjoI8twqlsmQ</th>
      <td>7pwufEBGfggjoI8twqlsmQ</td>
      <td>Nessa Barrett</td>
      <td>High</td>
      <td>66</td>
      <td>[social media pop]</td>
      <td>spotify:artist:7pwufEBGfggjoI8twqlsmQ</td>
    </tr>
    <tr>
      <th>57WHJIHrjOE3iAxpihhMnp</th>
      <td>57WHJIHrjOE3iAxpihhMnp</td>
      <td>Louis Tomlinson</td>
      <td>High</td>
      <td>66</td>
      <td>[pop]</td>
      <td>spotify:artist:57WHJIHrjOE3iAxpihhMnp</td>
    </tr>
    <tr>
      <th>37M5pPGs6V1fchFJSgCguX</th>
      <td>37M5pPGs6V1fchFJSgCguX</td>
      <td>FINNEAS</td>
      <td>High</td>
      <td>66</td>
      <td>[alt z, la indie, pop, pov: indie]</td>
      <td>spotify:artist:37M5pPGs6V1fchFJSgCguX</td>
    </tr>
    <tr>
      <th>1vfezMIyCr4XUdYRaKIKi3</th>
      <td>1vfezMIyCr4XUdYRaKIKi3</td>
      <td>Keyshia Cole</td>
      <td>High</td>
      <td>66</td>
      <td>[hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:1vfezMIyCr4XUdYRaKIKi3</td>
    </tr>
    <tr>
      <th>2jnIB6XdLvnJUeNTy5A0J2</th>
      <td>2jnIB6XdLvnJUeNTy5A0J2</td>
      <td>Why Don't We</td>
      <td>High</td>
      <td>66</td>
      <td>[boy band, pop]</td>
      <td>spotify:artist:2jnIB6XdLvnJUeNTy5A0J2</td>
    </tr>
    <tr>
      <th>0jUQSUOcM7lxVn5eVGTkzQ</th>
      <td>0jUQSUOcM7lxVn5eVGTkzQ</td>
      <td>Justine Skye</td>
      <td>High</td>
      <td>66</td>
      <td>[pop r&amp;b, r&amp;b]</td>
      <td>spotify:artist:0jUQSUOcM7lxVn5eVGTkzQ</td>
    </tr>
    <tr>
      <th>6dJeKm76NjfXBNTpHmOhfO</th>
      <td>6dJeKm76NjfXBNTpHmOhfO</td>
      <td>Selena Gomez &amp; The Scene</td>
      <td>High</td>
      <td>67</td>
      <td>[pop]</td>
      <td>spotify:artist:6dJeKm76NjfXBNTpHmOhfO</td>
    </tr>
    <tr>
      <th>1l8Fu6IkuTP0U5QetQJ5Xt</th>
      <td>1l8Fu6IkuTP0U5QetQJ5Xt</td>
      <td>Fifth Harmony</td>
      <td>High</td>
      <td>67</td>
      <td>[girl group, pop, talent show]</td>
      <td>spotify:artist:1l8Fu6IkuTP0U5QetQJ5Xt</td>
    </tr>
    <tr>
      <th>3r17AfJCCUqC9Lf0OAc73G</th>
      <td>3r17AfJCCUqC9Lf0OAc73G</td>
      <td>Fergie</td>
      <td>High</td>
      <td>67</td>
      <td>[dance pop, pop]</td>
      <td>spotify:artist:3r17AfJCCUqC9Lf0OAc73G</td>
    </tr>
    <tr>
      <th>6veh5zbFpm31XsPdjBgPER</th>
      <td>6veh5zbFpm31XsPdjBgPER</td>
      <td>BIA</td>
      <td>High</td>
      <td>67</td>
      <td>[rap latina, trap queen]</td>
      <td>spotify:artist:6veh5zbFpm31XsPdjBgPER</td>
    </tr>
    <tr>
      <th>6P5NO5hzJbuOqSdyPB7SJM</th>
      <td>6P5NO5hzJbuOqSdyPB7SJM</td>
      <td>Ashe</td>
      <td>High</td>
      <td>67</td>
      <td>[alt z]</td>
      <td>spotify:artist:6P5NO5hzJbuOqSdyPB7SJM</td>
    </tr>
    <tr>
      <th>6T5tfhQCknKG4UnH90qGnz</th>
      <td>6T5tfhQCknKG4UnH90qGnz</td>
      <td>DNCE</td>
      <td>High</td>
      <td>67</td>
      <td>[dance pop, pop]</td>
      <td>spotify:artist:6T5tfhQCknKG4UnH90qGnz</td>
    </tr>
    <tr>
      <th>7HkdQ0gt53LP4zmHsL0nap</th>
      <td>7HkdQ0gt53LP4zmHsL0nap</td>
      <td>Ella Mai</td>
      <td>High</td>
      <td>68</td>
      <td>[r&amp;b, rap, uk contemporary r&amp;b]</td>
      <td>spotify:artist:7HkdQ0gt53LP4zmHsL0nap</td>
    </tr>
    <tr>
      <th>63XBtGSEZINSyXylZxEUbv</th>
      <td>63XBtGSEZINSyXylZxEUbv</td>
      <td>Victoria Monét</td>
      <td>High</td>
      <td>68</td>
      <td>[alternative r&amp;b]</td>
      <td>spotify:artist:63XBtGSEZINSyXylZxEUbv</td>
    </tr>
    <tr>
      <th>55fhWPvDiMpLnE4ZzNXZyW</th>
      <td>55fhWPvDiMpLnE4ZzNXZyW</td>
      <td>Noah Cyrus</td>
      <td>High</td>
      <td>68</td>
      <td>[alt z, pop]</td>
      <td>spotify:artist:55fhWPvDiMpLnE4ZzNXZyW</td>
    </tr>
    <tr>
      <th>4xnihxcoXWK3UqryOSnbw5</th>
      <td>4xnihxcoXWK3UqryOSnbw5</td>
      <td>Sasha Alex Sloan</td>
      <td>High</td>
      <td>68</td>
      <td>[alt z]</td>
      <td>spotify:artist:4xnihxcoXWK3UqryOSnbw5</td>
    </tr>
    <tr>
      <th>2NdeV5rLm47xAvogXrYhJX</th>
      <td>2NdeV5rLm47xAvogXrYhJX</td>
      <td>Ciara</td>
      <td>High</td>
      <td>69</td>
      <td>[dance pop, hip pop, pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:2NdeV5rLm47xAvogXrYhJX</td>
    </tr>
    <tr>
      <th>1Y8cdNmUJH7yBTd9yOvr5i</th>
      <td>1Y8cdNmUJH7yBTd9yOvr5i</td>
      <td>Destiny's Child</td>
      <td>High</td>
      <td>69</td>
      <td>[dance pop, girl group, pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:1Y8cdNmUJH7yBTd9yOvr5i</td>
    </tr>
    <tr>
      <th>1GmsPCcpKgF9OhlNXjOsbS</th>
      <td>1GmsPCcpKgF9OhlNXjOsbS</td>
      <td>Lizzy McAlpine</td>
      <td>High</td>
      <td>69</td>
      <td>[alt z, boston folk, indie pop, singer-songwriter pop]</td>
      <td>spotify:artist:1GmsPCcpKgF9OhlNXjOsbS</td>
    </tr>
    <tr>
      <th>2gsggkzM5R49q6jpPvazou</th>
      <td>2gsggkzM5R49q6jpPvazou</td>
      <td>Jessie J</td>
      <td>High</td>
      <td>69</td>
      <td>[dance pop, pop]</td>
      <td>spotify:artist:2gsggkzM5R49q6jpPvazou</td>
    </tr>
    <tr>
      <th>5CCwRZC6euC8Odo6y9X8jr</th>
      <td>5CCwRZC6euC8Odo6y9X8jr</td>
      <td>Rita Ora</td>
      <td>High</td>
      <td>71</td>
      <td>[dance pop, pop, uk pop]</td>
      <td>spotify:artist:5CCwRZC6euC8Odo6y9X8jr</td>
    </tr>
    <tr>
      <th>3e7awlrlDSwF3iM0WBjGMp</th>
      <td>3e7awlrlDSwF3iM0WBjGMp</td>
      <td>Little Mix</td>
      <td>High</td>
      <td>72</td>
      <td>[girl group, pop, talent show, uk pop]</td>
      <td>spotify:artist:3e7awlrlDSwF3iM0WBjGMp</td>
    </tr>
    <tr>
      <th>3Y7RZ31TRPVadSFVy1o8os</th>
      <td>3Y7RZ31TRPVadSFVy1o8os</td>
      <td>H.E.R.</td>
      <td>High</td>
      <td>72</td>
      <td>[r&amp;b, rap]</td>
      <td>spotify:artist:3Y7RZ31TRPVadSFVy1o8os</td>
    </tr>
    <tr>
      <th>1CoZyIx7UvdxT5c8UkMzHd</th>
      <td>1CoZyIx7UvdxT5c8UkMzHd</td>
      <td>Jorja Smith</td>
      <td>High</td>
      <td>72</td>
      <td>[r&amp;b, uk contemporary r&amp;b]</td>
      <td>spotify:artist:1CoZyIx7UvdxT5c8UkMzHd</td>
    </tr>
    <tr>
      <th>4NHQUGzhtTLFvgF5SZesLK</th>
      <td>4NHQUGzhtTLFvgF5SZesLK</td>
      <td>Tove Lo</td>
      <td>High</td>
      <td>72</td>
      <td>[metropopolis, pop, swedish electropop, swedish pop, swedish synthpop]</td>
      <td>spotify:artist:4NHQUGzhtTLFvgF5SZesLK</td>
    </tr>
    <tr>
      <th>1Hsdzj7Dlq2I7tHP7501T4</th>
      <td>1Hsdzj7Dlq2I7tHP7501T4</td>
      <td>Niall Horan</td>
      <td>High</td>
      <td>74</td>
      <td>[pop]</td>
      <td>spotify:artist:1Hsdzj7Dlq2I7tHP7501T4</td>
    </tr>
    <tr>
      <th>5ZS223C6JyBfXasXxrRqOk</th>
      <td>5ZS223C6JyBfXasXxrRqOk</td>
      <td>Jhené Aiko</td>
      <td>High</td>
      <td>74</td>
      <td>[r&amp;b]</td>
      <td>spotify:artist:5ZS223C6JyBfXasXxrRqOk</td>
    </tr>
    <tr>
      <th>5Rl15oVamLq7FbSb0NNBNy</th>
      <td>5Rl15oVamLq7FbSb0NNBNy</td>
      <td>5 Seconds of Summer</td>
      <td>High</td>
      <td>75</td>
      <td>[boy band, pop]</td>
      <td>spotify:artist:5Rl15oVamLq7FbSb0NNBNy</td>
    </tr>
    <tr>
      <th>1r1uxoy19fzMxunt3ONAkG</th>
      <td>1r1uxoy19fzMxunt3ONAkG</td>
      <td>Phoebe Bridgers</td>
      <td>High</td>
      <td>76</td>
      <td>[indie pop, la indie, pov: indie]</td>
      <td>spotify:artist:1r1uxoy19fzMxunt3ONAkG</td>
    </tr>
    <tr>
      <th>7gOdHgIoIKoe4i9Tta6qdD</th>
      <td>7gOdHgIoIKoe4i9Tta6qdD</td>
      <td>Jonas Brothers</td>
      <td>High</td>
      <td>77</td>
      <td>[boy band, pop]</td>
      <td>spotify:artist:7gOdHgIoIKoe4i9Tta6qdD</td>
    </tr>
    <tr>
      <th>1zNqDE7qDGCsyzJwohVaoX</th>
      <td>1zNqDE7qDGCsyzJwohVaoX</td>
      <td>Anne-Marie</td>
      <td>High</td>
      <td>78</td>
      <td>[pop]</td>
      <td>spotify:artist:1zNqDE7qDGCsyzJwohVaoX</td>
    </tr>
    <tr>
      <th>64M6ah0SkkRsnPGtGiRAbb</th>
      <td>64M6ah0SkkRsnPGtGiRAbb</td>
      <td>Bebe Rexha</td>
      <td>High</td>
      <td>79</td>
      <td>[dance pop, pop]</td>
      <td>spotify:artist:64M6ah0SkkRsnPGtGiRAbb</td>
    </tr>
    <tr>
      <th>26VFTg2z8YR0cCuwLzESi2</th>
      <td>26VFTg2z8YR0cCuwLzESi2</td>
      <td>Halsey</td>
      <td>High</td>
      <td>80</td>
      <td>[electropop, etherpop, indie poptimism, pop]</td>
      <td>spotify:artist:26VFTg2z8YR0cCuwLzESi2</td>
    </tr>
    <tr>
      <th>6jJ0s89eD6GaHleKKya26X</th>
      <td>6jJ0s89eD6GaHleKKya26X</td>
      <td>Katy Perry</td>
      <td>High</td>
      <td>81</td>
      <td>[pop]</td>
      <td>spotify:artist:6jJ0s89eD6GaHleKKya26X</td>
    </tr>
    <tr>
      <th>0C8ZW7ezQVs4URX5aX7Kqx</th>
      <td>0C8ZW7ezQVs4URX5aX7Kqx</td>
      <td>Selena Gomez</td>
      <td>High</td>
      <td>82</td>
      <td>[pop, post-teen pop]</td>
      <td>spotify:artist:0C8ZW7ezQVs4URX5aX7Kqx</td>
    </tr>
    <tr>
      <th>1cWyN6TA0n4j9JtqI0sOpt</th>
      <td>1cWyN6TA0n4j9JtqI0sOpt</td>
      <td>TeaMarrr</td>
      <td>Medium</td>
      <td>38</td>
      <td>[alternative r&amp;b, boston hip hop]</td>
      <td>spotify:artist:1cWyN6TA0n4j9JtqI0sOpt</td>
    </tr>
    <tr>
      <th>2bvUCoFViWtg9pSkOX9du9</th>
      <td>2bvUCoFViWtg9pSkOX9du9</td>
      <td>BAYLI</td>
      <td>Medium</td>
      <td>42</td>
      <td>[indie r&amp;b]</td>
      <td>spotify:artist:2bvUCoFViWtg9pSkOX9du9</td>
    </tr>
    <tr>
      <th>3Vl9fyKMIdLMswk8ai3mm9</th>
      <td>3Vl9fyKMIdLMswk8ai3mm9</td>
      <td>Rebecca Black</td>
      <td>Medium</td>
      <td>43</td>
      <td>[teen pop]</td>
      <td>spotify:artist:3Vl9fyKMIdLMswk8ai3mm9</td>
    </tr>
    <tr>
      <th>2tAqnHDAgnGtjnlzyoa38L</th>
      <td>2tAqnHDAgnGtjnlzyoa38L</td>
      <td>Ama Lou</td>
      <td>Medium</td>
      <td>44</td>
      <td>[alternative r&amp;b, uk contemporary r&amp;b]</td>
      <td>spotify:artist:2tAqnHDAgnGtjnlzyoa38L</td>
    </tr>
    <tr>
      <th>188VINPQh5dyNfLUkevKqf</th>
      <td>188VINPQh5dyNfLUkevKqf</td>
      <td>Olivia Holt</td>
      <td>Medium</td>
      <td>44</td>
      <td>[post-teen pop]</td>
      <td>spotify:artist:188VINPQh5dyNfLUkevKqf</td>
    </tr>
    <tr>
      <th>7D25zMq1tDmT0nfh6ieYph</th>
      <td>7D25zMq1tDmT0nfh6ieYph</td>
      <td>Cate</td>
      <td>Medium</td>
      <td>44</td>
      <td>[alt z, canadian pop]</td>
      <td>spotify:artist:7D25zMq1tDmT0nfh6ieYph</td>
    </tr>
    <tr>
      <th>1MT1Wz4G9Z9EVOg4L5zZMS</th>
      <td>1MT1Wz4G9Z9EVOg4L5zZMS</td>
      <td>Tamar Braxton</td>
      <td>Medium</td>
      <td>44</td>
      <td>[contemporary r&amp;b, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:1MT1Wz4G9Z9EVOg4L5zZMS</td>
    </tr>
    <tr>
      <th>0HnvwS4WOXhjvKwQRceHMe</th>
      <td>0HnvwS4WOXhjvKwQRceHMe</td>
      <td>Elijah Kelley</td>
      <td>Medium</td>
      <td>45</td>
      <td>[hollywood, show tunes]</td>
      <td>spotify:artist:0HnvwS4WOXhjvKwQRceHMe</td>
    </tr>
    <tr>
      <th>3gBjSrNsYzzbeo0nwsL21J</th>
      <td>3gBjSrNsYzzbeo0nwsL21J</td>
      <td>ella jane</td>
      <td>Medium</td>
      <td>45</td>
      <td>[alt z, gen z singer-songwriter, modern indie pop]</td>
      <td>spotify:artist:3gBjSrNsYzzbeo0nwsL21J</td>
    </tr>
    <tr>
      <th>7FxEy78P0oIVEVxdaL9npy</th>
      <td>7FxEy78P0oIVEVxdaL9npy</td>
      <td>Emily James</td>
      <td>Medium</td>
      <td>45</td>
      <td>[singer-songwriter pop]</td>
      <td>spotify:artist:7FxEy78P0oIVEVxdaL9npy</td>
    </tr>
    <tr>
      <th>06vRrrjT3DBRkhBlXoBdYj</th>
      <td>06vRrrjT3DBRkhBlXoBdYj</td>
      <td>Lauren Sanderson</td>
      <td>Medium</td>
      <td>46</td>
      <td>[alt z]</td>
      <td>spotify:artist:06vRrrjT3DBRkhBlXoBdYj</td>
    </tr>
    <tr>
      <th>2retT7MFwHDVTeGKDdybEx</th>
      <td>2retT7MFwHDVTeGKDdybEx</td>
      <td>K. Michelle</td>
      <td>Medium</td>
      <td>46</td>
      <td>[hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:2retT7MFwHDVTeGKDdybEx</td>
    </tr>
    <tr>
      <th>51cLPvmhBdl3qTsZCL32Yl</th>
      <td>51cLPvmhBdl3qTsZCL32Yl</td>
      <td>Nikki Blonsky</td>
      <td>Medium</td>
      <td>48</td>
      <td>[hollywood]</td>
      <td>spotify:artist:51cLPvmhBdl3qTsZCL32Yl</td>
    </tr>
    <tr>
      <th>5a2w2tgpLwv26BYJf2qYwu</th>
      <td>5a2w2tgpLwv26BYJf2qYwu</td>
      <td>SOPHIE</td>
      <td>Medium</td>
      <td>48</td>
      <td>[art pop, bubblegum bass, deconstructed club, escape room, hyperpop, proto-hyperpop, transpop]</td>
      <td>spotify:artist:5a2w2tgpLwv26BYJf2qYwu</td>
    </tr>
    <tr>
      <th>6UZk0TOb0uZ1JWa3BW81FQ</th>
      <td>6UZk0TOb0uZ1JWa3BW81FQ</td>
      <td>Bellah</td>
      <td>Medium</td>
      <td>49</td>
      <td>[alternative r&amp;b, indie r&amp;b]</td>
      <td>spotify:artist:6UZk0TOb0uZ1JWa3BW81FQ</td>
    </tr>
    <tr>
      <th>24Cf1irKt7kcewb9OOkPum</th>
      <td>24Cf1irKt7kcewb9OOkPum</td>
      <td>Joyce Wrice</td>
      <td>Medium</td>
      <td>49</td>
      <td>[alternative r&amp;b]</td>
      <td>spotify:artist:24Cf1irKt7kcewb9OOkPum</td>
    </tr>
    <tr>
      <th>0Qnx1MPnHYt3jJCYrRFVwX</th>
      <td>0Qnx1MPnHYt3jJCYrRFVwX</td>
      <td>Greyson Chance</td>
      <td>Medium</td>
      <td>49</td>
      <td>[post-teen pop, viral pop]</td>
      <td>spotify:artist:0Qnx1MPnHYt3jJCYrRFVwX</td>
    </tr>
    <tr>
      <th>5fywYLnKJi950Y5yMqavxm</th>
      <td>5fywYLnKJi950Y5yMqavxm</td>
      <td>Etham</td>
      <td>Medium</td>
      <td>49</td>
      <td>[singer-songwriter pop]</td>
      <td>spotify:artist:5fywYLnKJi950Y5yMqavxm</td>
    </tr>
    <tr>
      <th>2y9j8qUwBMGPYPQJJxmYzD</th>
      <td>2y9j8qUwBMGPYPQJJxmYzD</td>
      <td>Anna Clendening</td>
      <td>Medium</td>
      <td>50</td>
      <td>[alt z]</td>
      <td>spotify:artist:2y9j8qUwBMGPYPQJJxmYzD</td>
    </tr>
    <tr>
      <th>3vldh5Ceynytj6Iglw4haP</th>
      <td>3vldh5Ceynytj6Iglw4haP</td>
      <td>Tommy Lefroy</td>
      <td>Medium</td>
      <td>50</td>
      <td>[indie pop, modern indie folk]</td>
      <td>spotify:artist:3vldh5Ceynytj6Iglw4haP</td>
    </tr>
    <tr>
      <th>55VbVrjmAWcvCknVFfPzvK</th>
      <td>55VbVrjmAWcvCknVFfPzvK</td>
      <td>Grace Davies</td>
      <td>Medium</td>
      <td>50</td>
      <td>[uk pop]</td>
      <td>spotify:artist:55VbVrjmAWcvCknVFfPzvK</td>
    </tr>
    <tr>
      <th>3UjPnt2nRmw10N58bBeNOg</th>
      <td>3UjPnt2nRmw10N58bBeNOg</td>
      <td>Xavier Omär</td>
      <td>Medium</td>
      <td>51</td>
      <td>[alternative r&amp;b]</td>
      <td>spotify:artist:3UjPnt2nRmw10N58bBeNOg</td>
    </tr>
    <tr>
      <th>6TvjXbopXg71XRM9OZWqUc</th>
      <td>6TvjXbopXg71XRM9OZWqUc</td>
      <td>Arin Ray</td>
      <td>Medium</td>
      <td>51</td>
      <td>[alternative r&amp;b]</td>
      <td>spotify:artist:6TvjXbopXg71XRM9OZWqUc</td>
    </tr>
    <tr>
      <th>2EwyKG76iX4Pp5HhAD6SKO</th>
      <td>2EwyKG76iX4Pp5HhAD6SKO</td>
      <td>Maeta</td>
      <td>Medium</td>
      <td>51</td>
      <td>[alternative r&amp;b, indie r&amp;b]</td>
      <td>spotify:artist:2EwyKG76iX4Pp5HhAD6SKO</td>
    </tr>
    <tr>
      <th>4fpTMHe34LC5t3h5ztK8qu</th>
      <td>4fpTMHe34LC5t3h5ztK8qu</td>
      <td>The Carters</td>
      <td>Medium</td>
      <td>52</td>
      <td>[r&amp;b]</td>
      <td>spotify:artist:4fpTMHe34LC5t3h5ztK8qu</td>
    </tr>
    <tr>
      <th>4pZOG8ump4odtJJA4Cy7S8</th>
      <td>4pZOG8ump4odtJJA4Cy7S8</td>
      <td>Haley Joelle</td>
      <td>Medium</td>
      <td>52</td>
      <td>[alt z, gen z singer-songwriter]</td>
      <td>spotify:artist:4pZOG8ump4odtJJA4Cy7S8</td>
    </tr>
    <tr>
      <th>08rMCq2ek1YjdDBsCPVH2s</th>
      <td>08rMCq2ek1YjdDBsCPVH2s</td>
      <td>Amerie</td>
      <td>Medium</td>
      <td>52</td>
      <td>[contemporary r&amp;b, hip pop, neo soul, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:08rMCq2ek1YjdDBsCPVH2s</td>
    </tr>
    <tr>
      <th>4LOM7NzyrZvlGSYPFDsnTk</th>
      <td>4LOM7NzyrZvlGSYPFDsnTk</td>
      <td>Dylan</td>
      <td>Medium</td>
      <td>52</td>
      <td>[alt z, uk pop]</td>
      <td>spotify:artist:4LOM7NzyrZvlGSYPFDsnTk</td>
    </tr>
    <tr>
      <th>7DuTB6wdzqFJGFLSH17k8e</th>
      <td>7DuTB6wdzqFJGFLSH17k8e</td>
      <td>Bhad Bhabie</td>
      <td>Medium</td>
      <td>53</td>
      <td>[trap queen, viral rap]</td>
      <td>spotify:artist:7DuTB6wdzqFJGFLSH17k8e</td>
    </tr>
    <tr>
      <th>3mPc8WGusz2XF3Tvs3AKCR</th>
      <td>3mPc8WGusz2XF3Tvs3AKCR</td>
      <td>Carlie Hanson</td>
      <td>Medium</td>
      <td>53</td>
      <td>[alt z]</td>
      <td>spotify:artist:3mPc8WGusz2XF3Tvs3AKCR</td>
    </tr>
    <tr>
      <th>3M3wTTCDwicRubwMyHyEDy</th>
      <td>3M3wTTCDwicRubwMyHyEDy</td>
      <td>Shygirl</td>
      <td>Medium</td>
      <td>53</td>
      <td>[alternative r&amp;b, art pop, electra, escape room, grimewave, hyperpop]</td>
      <td>spotify:artist:3M3wTTCDwicRubwMyHyEDy</td>
    </tr>
    <tr>
      <th>1Zi1c8sWZTy5rDiN3lAuEj</th>
      <td>1Zi1c8sWZTy5rDiN3lAuEj</td>
      <td>Ashley Kutcher</td>
      <td>Medium</td>
      <td>53</td>
      <td>[alt z, gen z singer-songwriter]</td>
      <td>spotify:artist:1Zi1c8sWZTy5rDiN3lAuEj</td>
    </tr>
    <tr>
      <th>2u2MvYsk6gZY0Khn9SAMeO</th>
      <td>2u2MvYsk6gZY0Khn9SAMeO</td>
      <td>Jillian Rossi</td>
      <td>Medium</td>
      <td>53</td>
      <td>[alt z, gen z singer-songwriter]</td>
      <td>spotify:artist:2u2MvYsk6gZY0Khn9SAMeO</td>
    </tr>
    <tr>
      <th>3DgcBA7P0ji5co7Z1Gfp2Q</th>
      <td>3DgcBA7P0ji5co7Z1Gfp2Q</td>
      <td>Kristin Chenoweth</td>
      <td>Medium</td>
      <td>54</td>
      <td>[broadway, show tunes]</td>
      <td>spotify:artist:3DgcBA7P0ji5co7Z1Gfp2Q</td>
    </tr>
    <tr>
      <th>0nnBZ8FXWjG9wZgM2cpfeb</th>
      <td>0nnBZ8FXWjG9wZgM2cpfeb</td>
      <td>Leon Thomas</td>
      <td>Medium</td>
      <td>54</td>
      <td>[]</td>
      <td>spotify:artist:0nnBZ8FXWjG9wZgM2cpfeb</td>
    </tr>
    <tr>
      <th>69761NObDw2KwmmFgZmxzC</th>
      <td>69761NObDw2KwmmFgZmxzC</td>
      <td>Lexi Jayde</td>
      <td>Medium</td>
      <td>54</td>
      <td>[alt z]</td>
      <td>spotify:artist:69761NObDw2KwmmFgZmxzC</td>
    </tr>
    <tr>
      <th>35GL8Cu2GKTcHzKGi75xl5</th>
      <td>35GL8Cu2GKTcHzKGi75xl5</td>
      <td>Jennifer Hudson</td>
      <td>Medium</td>
      <td>54</td>
      <td>[dance pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:35GL8Cu2GKTcHzKGi75xl5</td>
    </tr>
    <tr>
      <th>5Y8eJDj37KhaEeqbVO7Ag1</th>
      <td>5Y8eJDj37KhaEeqbVO7Ag1</td>
      <td>PRETTYMUCH</td>
      <td>Medium</td>
      <td>55</td>
      <td>[boy band, post-teen pop]</td>
      <td>spotify:artist:5Y8eJDj37KhaEeqbVO7Ag1</td>
    </tr>
    <tr>
      <th>0tRFWXqKBBQcu5oFVOgVzX</th>
      <td>0tRFWXqKBBQcu5oFVOgVzX</td>
      <td>Jaira Burns</td>
      <td>Medium</td>
      <td>56</td>
      <td>[alt z]</td>
      <td>spotify:artist:0tRFWXqKBBQcu5oFVOgVzX</td>
    </tr>
    <tr>
      <th>3Os4q49SgEN0Tv3fxKw3Sp</th>
      <td>3Os4q49SgEN0Tv3fxKw3Sp</td>
      <td>Delaney Bailey</td>
      <td>Medium</td>
      <td>56</td>
      <td>[gen z singer-songwriter]</td>
      <td>spotify:artist:3Os4q49SgEN0Tv3fxKw3Sp</td>
    </tr>
    <tr>
      <th>7Lk9V7E1u5gqSHmtcKlOqH</th>
      <td>7Lk9V7E1u5gqSHmtcKlOqH</td>
      <td>Sara Kays</td>
      <td>Medium</td>
      <td>56</td>
      <td>[alt z, gen z singer-songwriter, modern indie pop]</td>
      <td>spotify:artist:7Lk9V7E1u5gqSHmtcKlOqH</td>
    </tr>
    <tr>
      <th>1INuLZXjjVbcJRyWvD1iSq</th>
      <td>1INuLZXjjVbcJRyWvD1iSq</td>
      <td>Jack &amp; Jack</td>
      <td>Medium</td>
      <td>57</td>
      <td>[pop, teen pop]</td>
      <td>spotify:artist:1INuLZXjjVbcJRyWvD1iSq</td>
    </tr>
    <tr>
      <th>6beUvFUlKliUYJdLOXNj9C</th>
      <td>6beUvFUlKliUYJdLOXNj9C</td>
      <td>King Princess</td>
      <td>Medium</td>
      <td>57</td>
      <td>[alt z, indie pop, nyc pop]</td>
      <td>spotify:artist:6beUvFUlKliUYJdLOXNj9C</td>
    </tr>
    <tr>
      <th>4VhL8KLjVso4vLfOLVViTb</th>
      <td>4VhL8KLjVso4vLfOLVViTb</td>
      <td>Bridgit Mendler</td>
      <td>Medium</td>
      <td>58</td>
      <td>[pop, post-teen pop]</td>
      <td>spotify:artist:4VhL8KLjVso4vLfOLVViTb</td>
    </tr>
    <tr>
      <th>3nViOFa3kZW8OMSNOzwr98</th>
      <td>3nViOFa3kZW8OMSNOzwr98</td>
      <td>Queen Naija</td>
      <td>Medium</td>
      <td>58</td>
      <td>[r&amp;b]</td>
      <td>spotify:artist:3nViOFa3kZW8OMSNOzwr98</td>
    </tr>
    <tr>
      <th>2auiVi8sUZo17dLy1HwrTU</th>
      <td>2auiVi8sUZo17dLy1HwrTU</td>
      <td>Solange</td>
      <td>Medium</td>
      <td>58</td>
      <td>[afrofuturism, alternative r&amp;b, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:2auiVi8sUZo17dLy1HwrTU</td>
    </tr>
    <tr>
      <th>3tQx1LPXbsYjE9VwN1Peaa</th>
      <td>3tQx1LPXbsYjE9VwN1Peaa</td>
      <td>Marc E. Bassy</td>
      <td>Medium</td>
      <td>58</td>
      <td>[indie pop rap]</td>
      <td>spotify:artist:3tQx1LPXbsYjE9VwN1Peaa</td>
    </tr>
    <tr>
      <th>7r2uG6BlFXKcwmh9ItqlII</th>
      <td>7r2uG6BlFXKcwmh9ItqlII</td>
      <td>Wrabel</td>
      <td>Medium</td>
      <td>59</td>
      <td>[alt z]</td>
      <td>spotify:artist:7r2uG6BlFXKcwmh9ItqlII</td>
    </tr>
    <tr>
      <th>0uGk2czvcpWQA383Im6ajf</th>
      <td>0uGk2czvcpWQA383Im6ajf</td>
      <td>Maggie Lindemann</td>
      <td>Medium</td>
      <td>60</td>
      <td>[alt z, dark pop, pop]</td>
      <td>spotify:artist:0uGk2czvcpWQA383Im6ajf</td>
    </tr>
    <tr>
      <th>6xdRb2GypJ7DqnWAI2mHGn</th>
      <td>6xdRb2GypJ7DqnWAI2mHGn</td>
      <td>MUNA</td>
      <td>Medium</td>
      <td>60</td>
      <td>[indie pop, indie poptimism, la pop, metropopolis]</td>
      <td>spotify:artist:6xdRb2GypJ7DqnWAI2mHGn</td>
    </tr>
    <tr>
      <th>6nzxy2wXs6tLgzEtqOkEi2</th>
      <td>6nzxy2wXs6tLgzEtqOkEi2</td>
      <td>Monica</td>
      <td>Medium</td>
      <td>60</td>
      <td>[contemporary r&amp;b, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:6nzxy2wXs6tLgzEtqOkEi2</td>
    </tr>
    <tr>
      <th>7gRhy3MIPHQo5CXYfWaw9I</th>
      <td>7gRhy3MIPHQo5CXYfWaw9I</td>
      <td>Azealia Banks</td>
      <td>Medium</td>
      <td>61</td>
      <td>[escape room, hip house, lgbtq+ hip hop, trap queen]</td>
      <td>spotify:artist:7gRhy3MIPHQo5CXYfWaw9I</td>
    </tr>
    <tr>
      <th>2OaHYHb2XcFPvqL3VsyPzU</th>
      <td>2OaHYHb2XcFPvqL3VsyPzU</td>
      <td>Rico Nasty</td>
      <td>Medium</td>
      <td>62</td>
      <td>[alternative r&amp;b, trap queen]</td>
      <td>spotify:artist:2OaHYHb2XcFPvqL3VsyPzU</td>
    </tr>
    <tr>
      <th>1cZQSpDsxgKIX2yW5OR9Ot</th>
      <td>1cZQSpDsxgKIX2yW5OR9Ot</td>
      <td>Lennon Stella</td>
      <td>Medium</td>
      <td>62</td>
      <td>[alt z, canadian pop, uk pop]</td>
      <td>spotify:artist:1cZQSpDsxgKIX2yW5OR9Ot</td>
    </tr>
    <tr>
      <th>3QTDHixorJelOLxoxcjqGx</th>
      <td>3QTDHixorJelOLxoxcjqGx</td>
      <td>SiR</td>
      <td>Medium</td>
      <td>62</td>
      <td>[alternative r&amp;b, la pop]</td>
      <td>spotify:artist:3QTDHixorJelOLxoxcjqGx</td>
    </tr>
    <tr>
      <th>5NDMothbpdpq2xHqSjrrWn</th>
      <td>5NDMothbpdpq2xHqSjrrWn</td>
      <td>Faith Evans</td>
      <td>Medium</td>
      <td>63</td>
      <td>[contemporary r&amp;b, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:5NDMothbpdpq2xHqSjrrWn</td>
    </tr>
    <tr>
      <th>1A9o3Ljt67pFZ89YtPPL5X</th>
      <td>1A9o3Ljt67pFZ89YtPPL5X</td>
      <td>Snoh Aalegra</td>
      <td>Medium</td>
      <td>64</td>
      <td>[alternative r&amp;b, scandinavian r&amp;b, swedish soul]</td>
      <td>spotify:artist:1A9o3Ljt67pFZ89YtPPL5X</td>
    </tr>
    <tr>
      <th>37hAfseJWi0G3Scife12Il</th>
      <td>37hAfseJWi0G3Scife12Il</td>
      <td>City Girls</td>
      <td>Medium</td>
      <td>65</td>
      <td>[scam rap, trap queen]</td>
      <td>spotify:artist:37hAfseJWi0G3Scife12Il</td>
    </tr>
    <tr>
      <th>08PvCOlef4xdOr20jFSTPd</th>
      <td>08PvCOlef4xdOr20jFSTPd</td>
      <td>Flo Milli</td>
      <td>Medium</td>
      <td>65</td>
      <td>[viral rap]</td>
      <td>spotify:artist:08PvCOlef4xdOr20jFSTPd</td>
    </tr>
    <tr>
      <th>3IJ21966TwNZI24MwZHMu4</th>
      <td>3IJ21966TwNZI24MwZHMu4</td>
      <td>Baby Tate</td>
      <td>Medium</td>
      <td>65</td>
      <td>[trap queen]</td>
      <td>spotify:artist:3IJ21966TwNZI24MwZHMu4</td>
    </tr>
    <tr>
      <th>0urTpYCsixqZwgNTkPJOJ4</th>
      <td>0urTpYCsixqZwgNTkPJOJ4</td>
      <td>Aaliyah</td>
      <td>Medium</td>
      <td>65</td>
      <td>[contemporary r&amp;b, dance pop, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:0urTpYCsixqZwgNTkPJOJ4</td>
    </tr>
    <tr>
      <th>0znpFLuaey34oJTE1jHSnT</th>
      <td>0znpFLuaey34oJTE1jHSnT</td>
      <td>Alexander Stewart</td>
      <td>Medium</td>
      <td>65</td>
      <td>[singer-songwriter pop]</td>
      <td>spotify:artist:0znpFLuaey34oJTE1jHSnT</td>
    </tr>
    <tr>
      <th>6U1dBXJhC8gXFjamvFTmHg</th>
      <td>6U1dBXJhC8gXFjamvFTmHg</td>
      <td>Zac Efron</td>
      <td>Medium</td>
      <td>66</td>
      <td>[hollywood, movie tunes, post-teen pop]</td>
      <td>spotify:artist:6U1dBXJhC8gXFjamvFTmHg</td>
    </tr>
    <tr>
      <th>3AuMNF8rQAKOzjYppFNAoB</th>
      <td>3AuMNF8rQAKOzjYppFNAoB</td>
      <td>Kelly Rowland</td>
      <td>Medium</td>
      <td>66</td>
      <td>[atl hip hop, dance pop, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:3AuMNF8rQAKOzjYppFNAoB</td>
    </tr>
    <tr>
      <th>5yG7ZAZafVaAlMTeBybKAL</th>
      <td>5yG7ZAZafVaAlMTeBybKAL</td>
      <td>Iggy Azalea</td>
      <td>Medium</td>
      <td>67</td>
      <td>[australian hip hop, dance pop, pop]</td>
      <td>spotify:artist:5yG7ZAZafVaAlMTeBybKAL</td>
    </tr>
    <tr>
      <th>2iojnBLj0qIMiKPvVhLnsH</th>
      <td>2iojnBLj0qIMiKPvVhLnsH</td>
      <td>Trey Songz</td>
      <td>Medium</td>
      <td>67</td>
      <td>[dance pop, r&amp;b, southern hip hop, trap, urban contemporary]</td>
      <td>spotify:artist:2iojnBLj0qIMiKPvVhLnsH</td>
    </tr>
    <tr>
      <th>6Dd3NScHWwnW6obMFbl1BH</th>
      <td>6Dd3NScHWwnW6obMFbl1BH</td>
      <td>Daya</td>
      <td>Medium</td>
      <td>67</td>
      <td>[pop]</td>
      <td>spotify:artist:6Dd3NScHWwnW6obMFbl1BH</td>
    </tr>
    <tr>
      <th>6cK3NBO6uP7hh0oyuVELFl</th>
      <td>6cK3NBO6uP7hh0oyuVELFl</td>
      <td>Saweetie</td>
      <td>Medium</td>
      <td>68</td>
      <td>[cali rap, trap queen]</td>
      <td>spotify:artist:6cK3NBO6uP7hh0oyuVELFl</td>
    </tr>
    <tr>
      <th>7tjVFCxJdwT4NdrTmjyjQ6</th>
      <td>7tjVFCxJdwT4NdrTmjyjQ6</td>
      <td>Muni Long</td>
      <td>Medium</td>
      <td>69</td>
      <td>[indie r&amp;b]</td>
      <td>spotify:artist:7tjVFCxJdwT4NdrTmjyjQ6</td>
    </tr>
    <tr>
      <th>5rkVyNGXEgeUqKkB5ccK83</th>
      <td>5rkVyNGXEgeUqKkB5ccK83</td>
      <td>Ashanti</td>
      <td>Medium</td>
      <td>69</td>
      <td>[dance pop, hip pop, r&amp;b, urban contemporary]</td>
      <td>spotify:artist:5rkVyNGXEgeUqKkB5ccK83</td>
    </tr>
    <tr>
      <th>4GvEc3ANtPPjt1ZJllr5Zl</th>
      <td>4GvEc3ANtPPjt1ZJllr5Zl</td>
      <td>Bazzi</td>
      <td>Medium</td>
      <td>69</td>
      <td>[pop]</td>
      <td>spotify:artist:4GvEc3ANtPPjt1ZJllr5Zl</td>
    </tr>
    <tr>
      <th>2kRfqPViCqYdSGhYSM9R0Q</th>
      <td>2kRfqPViCqYdSGhYSM9R0Q</td>
      <td>Madison Beer</td>
      <td>Medium</td>
      <td>70</td>
      <td>[pop]</td>
      <td>spotify:artist:2kRfqPViCqYdSGhYSM9R0Q</td>
    </tr>
    <tr>
      <th>4ScCswdRlyA23odg9thgIO</th>
      <td>4ScCswdRlyA23odg9thgIO</td>
      <td>Jess Glynne</td>
      <td>Medium</td>
      <td>70</td>
      <td>[pop, uk pop]</td>
      <td>spotify:artist:4ScCswdRlyA23odg9thgIO</td>
    </tr>
    <tr>
      <th>7nDsS0l5ZAzMedVRKPP8F1</th>
      <td>7nDsS0l5ZAzMedVRKPP8F1</td>
      <td>Ella Henderson</td>
      <td>Medium</td>
      <td>72</td>
      <td>[dance pop, pop dance, talent show, uk pop]</td>
      <td>spotify:artist:7nDsS0l5ZAzMedVRKPP8F1</td>
    </tr>
    <tr>
      <th>3uwAm6vQy7kWPS2bciKWx9</th>
      <td>3uwAm6vQy7kWPS2bciKWx9</td>
      <td>girl in red</td>
      <td>Medium</td>
      <td>72</td>
      <td>[bedroom pop, indie pop, norwegian indie, pop, pov: indie]</td>
      <td>spotify:artist:3uwAm6vQy7kWPS2bciKWx9</td>
    </tr>
    <tr>
      <th>4EPJlUEBy49EX1wuFOvtjK</th>
      <td>4EPJlUEBy49EX1wuFOvtjK</td>
      <td>Becky Hill</td>
      <td>Medium</td>
      <td>73</td>
      <td>[pop dance, pop house, uk dance, uk pop]</td>
      <td>spotify:artist:4EPJlUEBy49EX1wuFOvtjK</td>
    </tr>
    <tr>
      <th>5IH6FPUwQTxPSXurCrcIov</th>
      <td>5IH6FPUwQTxPSXurCrcIov</td>
      <td>Alec Benjamin</td>
      <td>Medium</td>
      <td>74</td>
      <td>[alt z, pop, pov: indie]</td>
      <td>spotify:artist:5IH6FPUwQTxPSXurCrcIov</td>
    </tr>
    <tr>
      <th>6JL8zeS1NmiOftqZTRgdTz</th>
      <td>6JL8zeS1NmiOftqZTRgdTz</td>
      <td>Meghan Trainor</td>
      <td>Medium</td>
      <td>75</td>
      <td>[hip pop, pop]</td>
      <td>spotify:artist:6JL8zeS1NmiOftqZTRgdTz</td>
    </tr>
    <tr>
      <th>3mIj9lX2MWuHmhNCA7LSCW</th>
      <td>3mIj9lX2MWuHmhNCA7LSCW</td>
      <td>The 1975</td>
      <td>Medium</td>
      <td>75</td>
      <td>[modern alternative rock, modern rock, pop, pov: indie, rock]</td>
      <td>spotify:artist:3mIj9lX2MWuHmhNCA7LSCW</td>
    </tr>
    <tr>
      <th>2HPaUgqeutzr3jx5a9WyDV</th>
      <td>2HPaUgqeutzr3jx5a9WyDV</td>
      <td>PARTYNEXTDOOR</td>
      <td>Medium</td>
      <td>75</td>
      <td>[r&amp;b, rap, urban contemporary]</td>
      <td>spotify:artist:2HPaUgqeutzr3jx5a9WyDV</td>
    </tr>
    <tr>
      <th>57LYzLEk2LcFghVwuWbcuS</th>
      <td>57LYzLEk2LcFghVwuWbcuS</td>
      <td>Summer Walker</td>
      <td>Medium</td>
      <td>77</td>
      <td>[r&amp;b, rap]</td>
      <td>spotify:artist:57LYzLEk2LcFghVwuWbcuS</td>
    </tr>
    <tr>
      <th>4kYSro6naA4h99UJvo89HB</th>
      <td>4kYSro6naA4h99UJvo89HB</td>
      <td>Cardi B</td>
      <td>Medium</td>
      <td>78</td>
      <td>[pop, rap]</td>
      <td>spotify:artist:4kYSro6naA4h99UJvo89HB</td>
    </tr>
    <tr>
      <th>1U1el3k54VvEUzo3ybLPlM</th>
      <td>1U1el3k54VvEUzo3ybLPlM</td>
      <td>Kali Uchis</td>
      <td>Medium</td>
      <td>83</td>
      <td>[colombian pop]</td>
      <td>spotify:artist:1U1el3k54VvEUzo3ybLPlM</td>
    </tr>
    <tr>
      <th>3MdXrJWsbVzdn6fe5JYkSQ</th>
      <td>3MdXrJWsbVzdn6fe5JYkSQ</td>
      <td>Latto</td>
      <td>Medium</td>
      <td>84</td>
      <td>[trap queen]</td>
      <td>spotify:artist:3MdXrJWsbVzdn6fe5JYkSQ</td>
    </tr>
    <tr>
      <th>5p7f24Rk5HkUZsaS3BLG5F</th>
      <td>5p7f24Rk5HkUZsaS3BLG5F</td>
      <td>Hailee Steinfeld</td>
      <td>Very high</td>
      <td>69</td>
      <td>[pop]</td>
      <td>spotify:artist:5p7f24Rk5HkUZsaS3BLG5F</td>
    </tr>
    <tr>
      <th>0ZED1XzwlLHW4ZaG4lOT6m</th>
      <td>0ZED1XzwlLHW4ZaG4lOT6m</td>
      <td>Julia Michaels</td>
      <td>Very high</td>
      <td>72</td>
      <td>[pop]</td>
      <td>spotify:artist:0ZED1XzwlLHW4ZaG4lOT6m</td>
    </tr>
    <tr>
      <th>6S2OmqARrzebs0tKUEyXyp</th>
      <td>6S2OmqARrzebs0tKUEyXyp</td>
      <td>Demi Lovato</td>
      <td>Very high</td>
      <td>76</td>
      <td>[pop, post-teen pop]</td>
      <td>spotify:artist:6S2OmqARrzebs0tKUEyXyp</td>
    </tr>
  </tbody>
</table>