<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>image</th>
      <th>interest</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>06HL4z0CvFAxyc27GXpf02</th>
      <td>06HL4z0CvFAxyc27GXpf02</td>
      <td>https://i.scdn.co/image/ab676161000051746a224073987b930f99adc706</td>
      <td>High</td>
      <td>Taylor Swift</td>
    </tr>
    <tr>
      <th>4LXBFNxqvOcdBVpbgKn6op</th>
      <td>4LXBFNxqvOcdBVpbgKn6op</td>
      <td>https://i.scdn.co/image/ab676161000051744e885d7fa574515188bb1b7e</td>
      <td>High</td>
      <td>iyla</td>
    </tr>
    <tr>
      <th>5F1aoppMtU3OMiltO8ymJ2</th>
      <td>5F1aoppMtU3OMiltO8ymJ2</td>
      <td>https://i.scdn.co/image/ecc60c29567d41d3b13059175bc8154ed279463e</td>
      <td>High</td>
      <td>Hugh Jackman</td>
    </tr>
    <tr>
      <th>3Xt3RrJMFv5SZkCfUE8C1J</th>
      <td>3Xt3RrJMFv5SZkCfUE8C1J</td>
      <td>https://i.scdn.co/image/ab67616100005174a8202b13ef1872f16514e208</td>
      <td>High</td>
      <td>Kim Petras</td>
    </tr>
    <tr>
      <th>3WGpXCj9YhhfX11TToZcXP</th>
      <td>3WGpXCj9YhhfX11TToZcXP</td>
      <td>https://i.scdn.co/image/ab6761610000517426e8cb3ff6fc7744b312811b</td>
      <td>High</td>
      <td>Troye Sivan</td>
    </tr>
    <tr>
      <th>3KedxarmBCyFBevnqQHy3P</th>
      <td>3KedxarmBCyFBevnqQHy3P</td>
      <td>https://i.scdn.co/image/ab676161000051749e801308a8c99d52a7f14374</td>
      <td>High</td>
      <td>Jessie Reyez</td>
    </tr>
    <tr>
      <th>3DiDSECUqqY1AuBP8qtaIa</th>
      <td>3DiDSECUqqY1AuBP8qtaIa</td>
      <td>https://i.scdn.co/image/ab67616100005174211a4801caf24b3a52feab7a</td>
      <td>High</td>
      <td>Alicia Keys</td>
    </tr>
    <tr>
      <th>4Uc8Dsxct0oMqx0P6i60ea</th>
      <td>4Uc8Dsxct0oMqx0P6i60ea</td>
      <td>https://i.scdn.co/image/ab67616100005174c1c8fa15e08cb31eeb03b771</td>
      <td>High</td>
      <td>Conan Gray</td>
    </tr>
    <tr>
      <th>2wUjUUtkb5lvLKcGKsKqsR</th>
      <td>2wUjUUtkb5lvLKcGKsKqsR</td>
      <td>https://i.scdn.co/image/ab67616100005174e74b7398634a741f74858dc7</td>
      <td>High</td>
      <td>Alessia Cara</td>
    </tr>
    <tr>
      <th>2hUYKu1x0UZQXvzCmggvSn</th>
      <td>2hUYKu1x0UZQXvzCmggvSn</td>
      <td>https://i.scdn.co/image/ab676161000051744aed33b212aa2368af8818bf</td>
      <td>High</td>
      <td>Reneé Rapp</td>
    </tr>
    <tr>
      <th>30DhU7BDmF4PH0JVhu8ZRg</th>
      <td>30DhU7BDmF4PH0JVhu8ZRg</td>
      <td>https://i.scdn.co/image/ab67616100005174a278d9dfffcd319a9daf83d4</td>
      <td>High</td>
      <td>Sabrina Claudio</td>
    </tr>
    <tr>
      <th>6M2wZ9GZgrQXHCFfjv46we</th>
      <td>6M2wZ9GZgrQXHCFfjv46we</td>
      <td>https://i.scdn.co/image/ab67616100005174d42a27db3286b58553da8858</td>
      <td>High</td>
      <td>Dua Lipa</td>
    </tr>
    <tr>
      <th>1McMsnEElThX1knmY4oliG</th>
      <td>1McMsnEElThX1knmY4oliG</td>
      <td>https://i.scdn.co/image/ab67616100005174e03a98785f3658f0b6461ec4</td>
      <td>High</td>
      <td>Olivia Rodrigo</td>
    </tr>
    <tr>
      <th>6vWDO969PvNqNYHIOW5v0m</th>
      <td>6vWDO969PvNqNYHIOW5v0m</td>
      <td>https://i.scdn.co/image/ab6761610000517412e3f20d05a8d6cfde988715</td>
      <td>High</td>
      <td>Beyoncé</td>
    </tr>
    <tr>
      <th>74KM79TiuVKeVCqs8QtB0B</th>
      <td>74KM79TiuVKeVCqs8QtB0B</td>
      <td>https://i.scdn.co/image/ab6761610000517400e540b760b56d02cc415c47</td>
      <td>High</td>
      <td>Sabrina Carpenter</td>
    </tr>
    <tr>
      <th>7jZMxhsB8djyIbYmoiJSTs</th>
      <td>7jZMxhsB8djyIbYmoiJSTs</td>
      <td>https://i.scdn.co/image/ab676161000051740b615d9464bf651aa5b7d465</td>
      <td>High</td>
      <td>Kiana Ledé</td>
    </tr>
    <tr>
      <th>0SCbttzoZTnLFebDYmAWCm</th>
      <td>0SCbttzoZTnLFebDYmAWCm</td>
      <td>https://i.scdn.co/image/446aee35047292c4ba3e57e83ef97e6a9ffea669</td>
      <td>High</td>
      <td>Glee Cast</td>
    </tr>
    <tr>
      <th>2h93pZq0e7k5yf4dywlkpM</th>
      <td>2h93pZq0e7k5yf4dywlkpM</td>
      <td>https://i.scdn.co/image/ab67616100005174ee3123e593174208f9754fab</td>
      <td>High</td>
      <td>Frank Ocean</td>
    </tr>
    <tr>
      <th>6KImCVD70vtIoJWnq6nGn3</th>
      <td>6KImCVD70vtIoJWnq6nGn3</td>
      <td>https://i.scdn.co/image/ab67616100005174f7db7c8ede90a019c54590bb</td>
      <td>Medium</td>
      <td>Harry Styles</td>
    </tr>
    <tr>
      <th>66CXWjxzNUsdJxJ2JdwvnR</th>
      <td>66CXWjxzNUsdJxJ2JdwvnR</td>
      <td>https://i.scdn.co/image/ab67616100005174cdce7620dc940db079bf4952</td>
      <td>Medium</td>
      <td>Ariana Grande</td>
    </tr>
    <tr>
      <th>6qqNVTkY8uBg9cP3Jd7DAH</th>
      <td>6qqNVTkY8uBg9cP3Jd7DAH</td>
      <td>https://i.scdn.co/image/ab67616100005174d8b9980db67272cb4d2c3daf</td>
      <td>Medium</td>
      <td>Billie Eilish</td>
    </tr>
    <tr>
      <th>5cj0lLjcoR7YOSnhnX0Po5</th>
      <td>5cj0lLjcoR7YOSnhnX0Po5</td>
      <td>https://i.scdn.co/image/ab676161000051747f6d6cac38d494e87692af99</td>
      <td>Medium</td>
      <td>Doja Cat</td>
    </tr>
    <tr>
      <th>7gSjFKpVmDgC2MMsnN8CYq</th>
      <td>7gSjFKpVmDgC2MMsnN8CYq</td>
      <td>https://i.scdn.co/image/ab67616100005174e85d25b9286d6815ddb0d82a</td>
      <td>Medium</td>
      <td>Jazmine Sullivan</td>
    </tr>
    <tr>
      <th>5YGY8feqx7naU7z4HrwZM6</th>
      <td>5YGY8feqx7naU7z4HrwZM6</td>
      <td>https://i.scdn.co/image/ab67616100005174b5af3b38f053486ab0784dee</td>
      <td>Medium</td>
      <td>Miley Cyrus</td>
    </tr>
    <tr>
      <th>5RJFJWYgtgWktosLrUDzff</th>
      <td>5RJFJWYgtgWktosLrUDzff</td>
      <td>https://i.scdn.co/image/ab67616100005174b4e88d43cc0f1f54ebed72fb</td>
      <td>Medium</td>
      <td>Griff</td>
    </tr>
    <tr>
      <th>5KKpBU5eC2tJDzf0wmlRp2</th>
      <td>5KKpBU5eC2tJDzf0wmlRp2</td>
      <td>https://i.scdn.co/image/ab676161000051740550f0badff3ad04802b1e86</td>
      <td>Medium</td>
      <td>RAYE</td>
    </tr>
    <tr>
      <th>4tuJ0bMpJh08umKkEXKUI5</th>
      <td>4tuJ0bMpJh08umKkEXKUI5</td>
      <td>https://i.scdn.co/image/ab67616100005174416bd8a66bfcbc545c2009ac</td>
      <td>Medium</td>
      <td>Gracie Abrams</td>
    </tr>
    <tr>
      <th>4AK6F7OLvEQ5QYCBNiQWHq</th>
      <td>4AK6F7OLvEQ5QYCBNiQWHq</td>
      <td>https://i.scdn.co/image/289c7f686f5b78ceeb224453cf9a15697a678a79</td>
      <td>Medium</td>
      <td>One Direction</td>
    </tr>
    <tr>
      <th>4DHLoiIqFYYFjH09WduvFd</th>
      <td>4DHLoiIqFYYFjH09WduvFd</td>
      <td>NaN</td>
      <td>Medium</td>
      <td>Coco Jones</td>
    </tr>
    <tr>
      <th>0cGUm45nv7Z6M6qdXYQGTX</th>
      <td>0cGUm45nv7Z6M6qdXYQGTX</td>
      <td>https://i.scdn.co/image/ab67616100005174d2657bcafcb300d90816523f</td>
      <td>Medium</td>
      <td>Kehlani</td>
    </tr>
    <tr>
      <th>0hCNtLu0JehylgoiP8L4Gh</th>
      <td>0hCNtLu0JehylgoiP8L4Gh</td>
      <td>https://i.scdn.co/image/ab676161000051746a8e5e8752d1dc2dafa63f20</td>
      <td>Medium</td>
      <td>Nicki Minaj</td>
    </tr>
    <tr>
      <th>0s4kXsjYeH0S1xRyVGN4NO</th>
      <td>0s4kXsjYeH0S1xRyVGN4NO</td>
      <td>https://i.scdn.co/image/ab676161000051748b61192d1bc40abaf01a6bf0</td>
      <td>Medium</td>
      <td>FLO</td>
    </tr>
    <tr>
      <th>16rCzZOMQX7P8Kmn5YKexI</th>
      <td>16rCzZOMQX7P8Kmn5YKexI</td>
      <td>https://i.scdn.co/image/ab67616100005174904166badd695a7ef3c0caee</td>
      <td>Medium</td>
      <td>Mahalia</td>
    </tr>
    <tr>
      <th>181bsRPaVXVlUKXrxwZfHK</th>
      <td>181bsRPaVXVlUKXrxwZfHK</td>
      <td>https://i.scdn.co/image/ab676161000051745bebfdee4c4cfea3473a51ab</td>
      <td>Medium</td>
      <td>Megan Thee Stallion</td>
    </tr>
    <tr>
      <th>4nDoRrQiYLoBzwC5BhVJzF</th>
      <td>4nDoRrQiYLoBzwC5BhVJzF</td>
      <td>https://i.scdn.co/image/ab67616100005174ec05963eab63676a539fef13</td>
      <td>Medium</td>
      <td>Camila Cabello</td>
    </tr>
    <tr>
      <th>1o2NpYGqHiCq7FoiYdyd1x</th>
      <td>1o2NpYGqHiCq7FoiYdyd1x</td>
      <td>https://i.scdn.co/image/ab67616100005174daaf5f75751b6379c108993c</td>
      <td>Medium</td>
      <td>Bea Miller</td>
    </tr>
    <tr>
      <th>360IAlyVv4PCEVjgyMZrxK</th>
      <td>360IAlyVv4PCEVjgyMZrxK</td>
      <td>https://i.scdn.co/image/ab676161000051744669166b571594eade778990</td>
      <td>Medium</td>
      <td>Miguel</td>
    </tr>
    <tr>
      <th>3GxKJzJK4LpsYGXQrw77wz</th>
      <td>3GxKJzJK4LpsYGXQrw77wz</td>
      <td>https://i.scdn.co/image/ab6761610000517485582ada55a113dbfcd82f5d</td>
      <td>Medium</td>
      <td>Mimi Webb</td>
    </tr>
    <tr>
      <th>3aVoqlJOYx31lH1gibGDt3</th>
      <td>3aVoqlJOYx31lH1gibGDt3</td>
      <td>https://i.scdn.co/image/ab676161000051740cb3db62f8e93e64357df3c9</td>
      <td>Medium</td>
      <td>Babyface</td>
    </tr>
    <tr>
      <th>45dkTj5sMRSjrmBSBeiHym</th>
      <td>45dkTj5sMRSjrmBSBeiHym</td>
      <td>https://i.scdn.co/image/ab6761610000517413fa6afec2879d124e82fbfb</td>
      <td>Medium</td>
      <td>Tate McRae</td>
    </tr>
    <tr>
      <th>7n2wHs1TKAczGzO7Dd2rGr</th>
      <td>7n2wHs1TKAczGzO7Dd2rGr</td>
      <td>https://i.scdn.co/image/ab6761610000517446e7a06fa6dfefaed6a3f0db</td>
      <td>Medium</td>
      <td>Shawn Mendes</td>
    </tr>
    <tr>
      <th>25uiPmTg16RbhZWAqwLBy5</th>
      <td>25uiPmTg16RbhZWAqwLBy5</td>
      <td>https://i.scdn.co/image/ab67616100005174ec4dd20b40167683cf164804</td>
      <td>Medium</td>
      <td>Charli XCX</td>
    </tr>
    <tr>
      <th>5xkAtLTf309LAGZTbvULBn</th>
      <td>5xkAtLTf309LAGZTbvULBn</td>
      <td>https://i.scdn.co/image/ab676161000051745cc0fe13b5a96e40814f1670</td>
      <td>Very high</td>
      <td>Ruel</td>
    </tr>
    <tr>
      <th>6xgvgzXNv3ymcITXTrxRaA</th>
      <td>6xgvgzXNv3ymcITXTrxRaA</td>
      <td>https://i.scdn.co/image/ab67616100005174f4e7b5297b8371cbbd455fe8</td>
      <td>Very high</td>
      <td>ELIO</td>
    </tr>
    <tr>
      <th>7tYKF4w9nC0nq9CsPZTHyP</th>
      <td>7tYKF4w9nC0nq9CsPZTHyP</td>
      <td>https://i.scdn.co/image/ab676161000051747eb7f6371aad8e67e01f0a03</td>
      <td>Very high</td>
      <td>SZA</td>
    </tr>
  </tbody>
</table>